* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(287.22deg, #3C3C3C 0.48%, #000000 100%), ;
    overflow-x: hidden;
    &::before {
        content: '';
        width: 650px;
        height: 650px;
        background: radial-gradient(52.28% 37.24% at 67.6% 62.76%, #8209AC 0%, #8C28AF 100%);
        box-shadow: 0px 0px 200px 79px rgba(140, 40, 175, 0.76);
        position: absolute;
        right: 0;
        top: 250px;
        z-index: -1;
        border-radius: 50%;
    }
}